OLLAMA_BASE=http://127.0.0.1:11434 #default port kalau pak eollama
OLLAMA_MODEL=qwen2.5:3b-instruct #model ainya

# (opsional) token internal kamu kalau dipakai untuk validasi akses endpoint AI
ADMIN_AI_TOKEN=admin-ai-chatbot #endpoint

# === Public runtime config (boleh ditaruh di sini juga)
NUXT_ACADEMIC_CALENDAR_FILE_ID= #id gd (tapi nanti pake db jadinya mungkin dihapus)


